/* General style elements */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: #FFFFFF;
  color: #3a432a;
  line-height: 1.5;
  text-align: center;
  }

  /* Header section */

#header-section div {
  padding-top: 25px;
  padding-right: 1000px;
}

#header-section img {
  width: 300px;
  height: 80px;
}

  /* Topnav */

  #topnav {
    margin-top: -60px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
  }

  #topnav ul {
    list-style: none;
    margin-bottom: 0px;
    padding: 0px;
    }

  #topnav li {
    float: left;
    padding: 40px;
    }

  /* Line */

  #line {
    width: 1200px;
    height: 2px;
    background-color: #3a432a;
    margin-left: 120px;
    margin-top: -25px;
  }

  /* Section a */

  #section-a {
    margin-top: 100px;
    margin-left: 25px;
  }

  #section-a h1 {
    width: 50%;
  }

  #section-a p {
    width: 50%;
  }

  /* Section b */

  #section-b {
    margin-top: 100px;
    margin-right: 25px;
  }

  #section-b p {
    width: 50%;
  }

  /* Kontaktformular */

  /* Kontaktformular */
   .wrapper{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 380px;
 }

 .wrapper h2 {
   font-family: "Roboto Mono", monospace;
   color: #748D58;
 }

 .wrapper .input_field input[type="text"],
 .wrapper textarea {
   border: solid #515f6d 2px;
   padding: 15px 0 15px 15px;
   margin-top: 10px;
   font-size: 14px;
   width: 100%;
   font-family: "Roboto Mono", monospace;
 }

 .wrapper textarea {
   border: solid #515f6d 2px;
   padding: 15px 0 15px 15px;
   margin-top: 10px;
   font-size: 14px;
   height: 150px;
   width: 100%;
   font-family: "Roboto Mono", monospace;
 }

 .wrapper #error_message {
   margin-bottom: 20px;
   padding: 0px;
   background: #D36D75;
   color: black;
   text-align: center;
   font-size: 14px;
   transition: all 0.5s ease;
   font-family: "Roboto Mono", monospace;
   }

  .wrapper .btn input[type="submit"] {
     border: 0;
     margin-top: 15px;
     padding: 10px;
     width: 100%;
     background-color: #748D58;
     font-weight: bold;
     cursor: pointer;
     font-family: "Roboto Mono", monospace;
 }
