/* General style elements*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: #FFFFFF;
  color: #748D58;
  line-height: 1.5;
  text-align: center;
  }

  /* Topnav */

  #topnav {
    display: flex;
    justify-content: center;
  }

  #topnav ul {
    list-style: none;
    margin-bottom: 0px;
    padding: 0;
    }

  #topnav li {
    float: left;
    }
